<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="CompareFunds" parallel="none" thread-count="1">
  <listeners>
  	<listener class-name="com.automation.base.TestListener"></listener>
  </listeners>

  <test name="CompareFunds">
    <classes>
       <class name="com.automation.testcases.GetNAVPriceTest"/>
    </classes>
  </test>
</suite>

